export CONDA_DEFAULT_ENV=hawkes-env
if [[ "$(uname)" == "Darwin" ]]; then
  export CONDA_PREFIX='/opt/homebrew/Caskroom/miniconda/base/envs/hawkes-env'
  PATH_add /opt/homebrew/Caskroom/miniconda/base/envs/hawkes-env/bin
else
  export CONDA_PREFIX='C:\Users\strid\miniconda3\envs\hawkes-env'
  PATH_add /c/Users/strid/miniconda3/envs/hawkes-env/bin
  PATH_add /c/Users/strid/miniconda3/envs/hawkes-env/Scripts
  PATH_add /c/Users/strid/miniconda3/envs/hawkes-env/Library/bin
  PATH_add /c/Users/strid/miniconda3/envs/hawkes-env/Library/usr/bin
  PATH_add /c/Users/strid/miniconda3/envs/hawkes-env/Library/mingw-w64/bin
  PATH_add /c/Users/strid/miniconda3/envs/hawkes-env
fi
